<html>
<head>
	<title>Shuffling a deck of cards</title>
	<link rel="stylesheet" href="columns.css">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="text/javascript" src="utils.js"></script>
	<script type="text/javascript" src="deal.js"></script>
	<script type="text/javascript" src="shuffle.js"></script>
	<script type="text/javascript" src="cardClicked.js"></script>
	<script type="text/javascript" src="emptySpotClicked.js"></script>
	<script type="text/javascript" src="aceCardClicked.js"></script>
	<script type="text/javascript" src="aceEmptySpotClicked.js"></script>
	<script type="text/javascript" src="resetDownPile.js"></script>
	<script type="text/javascript" src="ace-pile-component.js"></script>
	<script type="text/javascript" src="card-component.js"></script>
	<script type="text/javascript" src="column-component.js"></script>
</head>
<body>
	<div id="board">
		<p><button v-on:click="deal">Deal!</button></p>
		<p class="ace-piles"><ace-pile
			  v-for="acePile in acePiles"
			  v-bind:key="acePile.id"
			  v-bind:ace-pile="acePile"
			  v-on:card-clicked="aceCardClicked"
			  v-on:empty-spot-clicked="aceEmptySpotClicked"></ace-pile></p>
		<p class="columns"><column
			  v-for="column in columns"
			  v-bind:key="column.id"
			  v-bind:column="column"
			  v-on:card-clicked="cardClicked"
			  v-on:empty-spot-clicked="emptySpotClicked"></column></p>
		<p class="draw-pile"><column
			  v-bind:column="downPile"
			  v-on:card-clicked="downPileClicked"
			  v-on:empty-spot-clicked="emptyDownPileClicked"
			  ></column><column
			  v-bind:column="upPile"
			  v-on:card-clicked="upPileClicked"></column></p>
	</div>
	<script type="text/javascript" src="columns.js"></script>
</body>
</html>
